[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scikit-learn = {extras = ["alldeps"],version = "*"}
pandas = "*"
numpy = "*"
streamlit = "*"
pillow = "*"
plotly = "*"

[requires]
python_version = "3.7"
